body {
    padding: 20px
}

.container {
    position: relative;
}


.horizontalScrollXAxisContainer {
    overflow: hidden;
}

.stickyXAxisContainer svg {
    position: relative;
}

.yAxisContainer {
    position: absolute;
    top: 0px;
    left: 0px;
}

.wrap-and-truncate {
    word-wrap: break-word;
    text-align: right;
    margin-top: 0px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    padding-right: 10px;
}

.legend-container {
    border-radius: 5px;
    background-color: #fff;
    width: 350px;
}

/**** Z-INDEX SIBLINGS ******/
.tooltip {
    z-index: 30;
    display: none;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    position: absolute;
    width: 200px;
    pointer-events: none; /* avoid flickering when mouse briefly moves over tooltip */
}

.stickyXAxisContainer {
    position: sticky;
    height: 50px;
    background-color: white;
    z-index: 20;
}

.horizontalScrollContainer {
    position: relative;
    top: 0px;
    overflow: auto;
    z-index: 10;
}

/**** END Z-INDEX SIBLINGS ******/
